html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.container {
    position: relative;
    width: 400px;
    height: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 400px) {
    .container {
        width: 100%;
    }
}