html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.container {
    position: relative;
    width: 400px;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #FFFFFF;
}

@media screen and (max-width: 400px) {
    .container {
        width: 100%;
        padding: 5px;
    }
}